<div class="get-page py-5">
  <div class="container">
    <div class="preview">
      <h1 class="text-center mb-5">Добавить пользователя</h1>

      <div class="form">
        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>

      <div class="button d-flex justify-content-center">
        <button class="btn btn-primary">Добавить</button>
      </div>
    </div>





  </div>
</div>

