<header class="header py-3 bg-dark">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" routerLink="get" routerLinkActive="active">Получить</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="post" routerLinkActive="active">Отправить</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="update" routerLinkActive="active">Обновить</a>
      </li>
    </ul>
  </div>
</header>
